<article>
    <h2 data-blog-id="{{id}}">{{{get_emoji}}}{{title}}</h2>

    <p><span class="author-label">By:</span> <span class="author-name">{{user.username}}</span></p>
<p><span class="date-label">Date:</span> <span class="date-value">{{{format_date date}}}</span></p>

    <p class="displayed-content">{{content}}</p>
</article>
