<article>
    <h2><a href="/blogs/{{id}}">{{title}}</a></h2>
    <p>{{truncate body 100}}</p>
    {{#if userCanEdit}}
        <button onclick="toggleEditForm('post', {{this.id}})">Edit</button>
        <div id="edit-post-form-{{this.id}}" style="display: none;">
            {{> editPost post=this}}
            
        </div>
    {{/if}}
</article>

{{#if loggedIn}}
    <button onclick="redirectToNewPostPage()">New Post</button>
{{/if}}
