
<section>
    <h2>Comments</h2>
    <div class="ok">
    <ul>
        {{#each comments as |comment|}}
            <li>{{comment.commentText}} - {{{format_date comment.dateCreated}}} - {{user.username}}</li>
        {{/each}}
    </ul>
    </div>
    {{#if comments.length}}
        {{else}}
            <p>No comments yet. Be the first to comment!</p>
    {{/if}}
    <form action="/comment" method="post">
        <textarea name="commentText" required></textarea>
        <input type="hidden" name="blogPostId" value="{{id}}">
        <button type="submit">Submit Comment</button>
    </form>
</section>
