(if ../user)
    <a href="/blogs/{{post.id}}">View Post</a>
    <a href="/blogs/delete/{{post.id}}">Delete Post</a>
<form action="/blogs/update/{{post.id}}" method="POST">
    <label for="edit-title-{{post.id}}">Title:</label>
    <input type="text" id="edit-title-{{post.id}}" name="title" value="{{post.title}}" required>

    <label for="edit-body-{{post.id}}">Content:</label>
    <textarea id="edit-body-{{post.id}}" name="body" required>{{post.body}}</textarea>

    <button type="submit">Update Post</button>
</form>
{{/if}}