<form action="/blogs/newpost/{{post.id}}" method="POST">
    <label for="edit-title-{{post.id}}">Title:</label>
    <input type="text" id="edit-title-{{post.id}}" name="title" value="{{post.title}}" required>

    <label for="edit-body-{{post.id}}">Content:</label>
    <textarea id="edit-body-{{post.id}}" name="body" required>{{post.body}}</textarea>

    <button type="submit">Update Post</button>
</form>
