<div id="news-feed" class="posts-container">
  {{#each posts}}
    <div class="f-card {{#if (isEven @index)}}right{{else}}left{{/if}}">
      <div class="header">
        <div class="options"><i class="fa fa-chevron-down"></i></div>
        <img class="co-logo" src="/assets/blogger.svg" />
        <div class="co-name"><a href="#">{{user.username}}</a></div>
        <div class="time"><a href="#">{{{format_date date}}}</a> · <i class="fa fa-globe"></i></div>
      </div>
      <div class="content">
        <h2>{{title}}</h2>
        <p class="displayed-content">{{{content}}}</p>
      </div>
      <link rel="stylesheet" href="{{stylesheets}}">

      <div class="reference">
        {{#if images}}
          {{#each images}}
            <img class="reference-thumb" src="{{this.src}}" alt="Image Description" />
          {{/each}}
          <div class="reference-content">
            <div class="reference-title">{{title}}</div>
            <div class="reference-subtitle">{{{content}}}</div>
          </div>
        {{else}}
          <div class="reference-content">
            <div class="reference-subtitle">{{{content}}}</div>
          </div>
        {{/if}}
      </div>

      <div class="social">
        <div class="btn-group" role="group" aria-label="Post Actions">
          <button class="btn btn-link">
            <i class="fa fa-share"></i> Share
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
