{{!-- <h1>All Blog Posts</h1>

{{!-- Loop through each post --}}
{{#each posts}}
<article>
    <h2><a href="/blogs/{{this.id}}">{{this.title}}</a></h2>
    <p>{{this.content}}</p>
    <p>👍: {{this.upVotes}}, 👎: {{this.downVotes}}</p>
    <p>Posted on: {{this.date}}</p> <!-- Assuming 'date' is formatted appropriately -->

    {{!-- Conditional check for comments on the post --}}
    {{#if this.Comments}}
      <section>
        <h3>Comments</h3>
        <ul>
          {{#each this.Comments as |comment|}}
            <li>{{comment.User.username}} says: {{comment.commentText}}</li>
          {{/each}}
        </ul>
      </section>
    {{else}}
        <p>No comments yet. Be the first to comment!</p>
    {{/if}}

    {{!-- Conditional rendering for logged-in users --}}
    {{#if ../loggedIn}}
        <a href="/blogs/edit/{{this.id}}">Edit</a>
        <form action="/blogs/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    {{/if}}
</article>
{{/each}}

{{!-- Form to create a new blog post, shown only if logged in --}}
{{#if loggedIn}}
    <h2>Create a New Blog Post</h2>
    <form action="/blogs" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
        
        <button type="submit">Post</button>
    </form>
{{/if}} --}}
