<h1>All Blog Posts</h1>

<article>
    <h2><a href="/blogs/{{id}}">{{title}}</a></h2>
    <p>{{content}}</p>
    <p>{{post.content}}</p>
    <p>Upvotes: {{post.upVotes}}, Downvotes: {{post.downVotes}}</p>
    <p>Posted on: {{post.date}}</p>
</article>

        {{#if ../loggedIn}}
            <a href="/blogs/edit/{{this.id}}">Edit</a>
            <form action="/blogs/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        {{/if}}
    </div>


{{#each posts}}
    <div class="post">
        <h2>{{this.id}}</h2>
        <p>{{this.title}}</p>
        <p>{{this.content}}</p>
        
        
        <!-- Displaying comments for each post -->
        {{#if this.Comments}}
            <h3>Comments</h3>
            <ul>
                {{#each this.Comments as |comment|}}
                    <li>{{comment.User.username}} says: {{comment.commentText}}</li>
                {{/each}}
            </ul>
        {{/if}}

        <!-- Edit and Delete options -->
        {{#if ../loggedIn}}
            <a href="/blogs/edit/{{this.id}}">Edit</a>
            <form action="/blogs/{{this.id}}?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        {{/if}}
    </div>
{{/each}}

{{!-- Form to create a new blog post --}}
{{#if loggedIn}}
    <h2>Create a New Blog Post</h2>
    <form action="/blogs" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
        
        <button type="submit">Post</button>
        <a href="/">Post</a>
        
    </form>
{{/if}}
