<header>
    <h1>Welcome to the Blog!</h1>
    <p>Sign in to make a blog post!</p>
    <nav>
        {{#if loggedIn}}
            <form action="/api/signout" method="post">
        <button type="submit">Sign Out</button>
        </form>
            <button><a href="/blogs/new">Create a New Blog Post</a></button>
        {{else}}
            <a href="/signin">Sign In</a>
            <a href="/signup">Sign Up</a>
        {{/if}}
    </nav>
</header>
<section>
    <div>
    {{#each posts}}
        {{> blogpost}}
        {{> comment}}
    

<div class="vote-buttons">
  <button class="upvote-button" data-id="{{id}}">👍 <span class="upvote-count">{{upVotes}}</span></button>
  <button class="downvote-button" data-id="{{id}}">👎 <span class="downvote-count">{{downVotes}}</span></button>
</div>
  
</div>
{{> deletepost id=this.id}}
{{> editpost id=this.id}}

        
    {{/each}}
       
</section>
<footer>
    <p>&copy; 2024 BlogChan</p>
