<header>
    <h1>Welcome to the Blog!</h1>
    <p>Sign in to make a blog post!</p>
    <nav>
        {{#if loggedIn}}
            <a href="/signout">Sign Out</a>
            <button><a href="/blogs/new">Create a New Blog Post</a></button>
        {{else}}
            <a href="/signin">Sign In</a>
            <a href="/signup">Sign Up</a>
        {{/if}}
    </nav>
</header>
<section>
    <div>
    {{#each posts}}
        {{> blogpost}}
        {{> comment}}
        <div class="vote-buttons">
  <form action="/upvote/{{id}}?_method=PUT" method="POST">
    <button type="submit">👍 {{upVotes}}</button> 
  </form>
  <form action="/downvote/{{id}}?_method=PUT" method="POST">
    <button type="submit">👎 {{downVotes}}</button>
  </form>
  
</div>
<form id="deleteForm" data-post-id="{{id}}" action="/blogs/{{id}}?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<form id="editForm" data-post-id="{{id}}" action="/blogs/{{id}}?_method=PUT">
    <button type="button" id="editButton">Edit</button> 
</form>
</div>
        
    {{/each}}
       
</section>
<footer>
    <p>&copy; 2024 BlogChan</p>
